* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.main-container {
  width: 650px;
  /* height: 650px; */
  background-color: white;
  margin: 10rem auto;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background-color: #7f61f8;
  padding: 20px;
  position: relative;
  border-radius: 15px 15px 0 0;
  color: white;
}

.header--img {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.5rem;
  margin-right: auto;
}

.header--project {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.meme-container {
  margin: 2.5rem;
  position: relative;
}
.form {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 3rem;
}
.form input {
  /* width: 48%; */
  padding: 0.3rem;
  border-radius: 8px;
  border: 1px solid gray;
  text-indent: 5px;
}
.form--btn {
  /* margin-top: 1.5rem; */
  /* width: 100%; */
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #7f61f8;
  border: transparent;
  color: white;
  grid-column: 1 / -1;
}

.form--btn:hover {
  background-color: #6b48f3;
}
.meme {
  position: relative;
}
.meme-img {
  margin: 0 auto;
  margin-bottom: 2.5rem;
  width: 100%;
  border-radius: 10px;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 50px;
}

.top {
  top: 0;
}
