* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b2434;
}
main {
  width: 30rem;
  height: 30rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 15rem auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.dice {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.dice-container {
  display: grid;
  gap: 20px;
  grid-template: auto auto / repeat(5, 1fr);
}

.btn {
  /* margin-top: 2rem; */
  background-color: #5035ff;
  width: 100px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -2px rgba(0, 0, 0, 0.7);
}
